name: ES-Linting

on:
  pull_request:
    branches: [ develop ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Install Dependencies
      run: npm install
    - name: Run ESLinting
      run: |
        ./node_modules/.bin/eslint --ignore-path .gitignore .
